<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="styles.min.css")
		title Portfolio
	body
		header.header#header
			.header__wrapper
				ul.header__social.social-list
					li.social-list__social-item.social-item
						a(href="https://linkedin.com/in/AlexMelnikov38", target="_blank").social-item__link
							svg.social-item__icon
								use(xlink:href="images/Social.sprite.svg#linkedin")
					li.social-list__social-item.social-item
						a(href="https://vk.com/id161512216", target="_blank").social-item__link
							svg.social-item__icon
								use(xlink:href="images/Social.sprite.svg#vk")
					li.social-list__social-item.social-item
						a(href="mailto:melnikov38.alex@gmail.com", target="_blank").social-item__link
							svg.social-item__icon
								use(xlink:href="images/Social.sprite.svg#email")
				.header__burger.burger
					span.burger-line
				nav.header__nav.navigation
					ul.navigation__list
						.marker
						li.navigation__item
							a.navigation__link.link-intro(href="#intro") Intro
						li.navigation__item
							a.navigation__link.link-about(href="#about") About
						li.navigation__item
							a.navigation__link.link-projects(href="#projects") Projects
						li.navigation__item
							a.navigation__link.link-contacts(href="#contacts") Contacts
		main
			section.intro#intro
				.container.intro__container
					.intro__about
						h2.intro__greeting Hello!
						p.intro__representation My name is 
							span.intro__name Alexander
						h1.intro__description I'm a Juniour front-end developer
						a(href="https://github.com/Melnikov-aleks", target="_blank", rel="noopener noreferrer").intro__btn.btn-github.btn 
							span.btn__border
							span.btn__border
							span.btn__border
							span.btn__border
							svg.btn__icon
								use(xlink:href="images/Social.sprite.svg#github") 
							| GitHub
					object.intro__img(type="image/svg+xml", data="images/developer-activity-animate.svg") Your browser does not support SVGs
				object.intro__wave(data="images/wave.svg", type="image/svg+xml")

			section.about#about
				.container.about__container
					h2.section-title.about__title About
					.about__content
						img.about__avatar(src="https://dummyimage.com/600x400/000/fff", alt="avatar")
						p.about__description My name is Alexander. I'm a junior frontend developer. I always try to learn something new, practice and improve my professional skills. That's why I want my work to contribute to my professional growth.
						.about__skills.skills
							h2.about__subtitle.skills__title My Skills
							ul.skills__list
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#JS")
									| JavaScript
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#HTML")
									| HTML
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#CSS")
									| CSS
								//- li.skills__item
								//- 	svg.skills__icon
								//- 		use(xlink:href="images/technologies.sprite.svg#JQuery")
								//- 	| JQuery
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#Pug")
									| Pug
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#SASS")
									| SASS/SCSS
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#Bootstrap")
									| Bootstrap
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#Gulp")
									| Gulp
								li.skills__item
									svg.skills__icon
										use(xlink:href="images/technologies.sprite.svg#Webpack")
									| Webpack
						.about__personal-info.personal-info
							h2.about__subtitle.personal-info__title Personal information
							ul.personal-info__list
								li.personal-info__item.personal-info-item
									span.personal-info-item__title Full name: 
									|Melnikov Alexander
								li.personal-info__item.personal-info-item
									span.personal-info-item__title Date of birth: 
									|06.08.1998
								li.personal-info__item.personal-info-item
									span.personal-info-item__title Residence: 
									|Samara, Russia
								li.personal-info__item.personal-info-item
									span.personal-info-item__title Tel: 
									a(href="tel:+79377956667").personal-info-item__link +79377956667
								li.personal-info__item.personal-info-item
									span.personal-info-item__title Email: 
									a(href="mailto:melnikov38.alex@gmail.com").personal-info-item__link melnikov38.alex@gmail.com
						
						.about__btn.btn-cv.btn Download CV
							span.btn__border
							span.btn__border
							span.btn__border
							span.btn__border
							a(href="https://github.com/Melnikov-aleks/Portfolio/blob/master/CV/Melnikov.Front-end.doc" download).btn__subbtn.btn__subbtn-left doc
							a(href="https://github.com/Melnikov-aleks/Portfolio/blob/master/CV/Melnikov.Front-end.pdf" download).btn__subbtn.btn__subbtn-right pdf

			section.projects
				object.projects__wave(data="images/wave1.svg", type="image/svg+xml")
				.container.projects__container#projects
					h2.section-title.projects__title My projects
					ul.projects__filter-list.filter-list
						.marker
						li(data-filter="All").projects__filter-item.filter.filter--active All
						li(data-filter="New").projects__filter-item.filter Newest
						li(data-filter="JS").projects__filter-item.filter Pure JS
						li(data-filter="Mockup").projects__filter-item.filter Mockups
					ul.projects__list.projects-list
			section.contacts#contacts
				.container.contacts__container
					h2.section-title.contacts__title Get in touch
					form(action="https://formspree.io/f/xeqpppgl" method="POST" novalidate).contacts__form.form.form-feedback
						input(type="text" name="name" placeholder="Your name").form__name.form-input
						fieldset.form__contacts
							input(type="email" name="_replyto" placeholder="Email").form__email.form-input
							input(type="tel" name="phone" placeholder="Phone").form__tel.form-input
						input(type="text" name="_subject" placeholder="Subject").form__subject.form-input
						textarea(name="message" placeholder="Message").form__message.form-input
						input(type="submit" value="Send").form__submit.form-btn.btn
		
		footer.footer
			.container.footer__container
				ul.footer__socials-list
					li.footer__social
						a(href="https://linkedin.com/in/AlexMelnikov38", target="_blank").footer__link
							svg.footer__icon
								use(xlink:href="images/Social.sprite.svg#linkedin")
					li.footer__social
						a(href="https://github.com/Melnikov-aleks", target="_blank").footer__link
							svg.footer__icon
								use(xlink:href="images/Social.sprite.svg#github")
					li.footer__social
						a(href="https://vk.com/id161512216", target="_blank").footer__link
							svg.footer__icon
								use(xlink:href="images/Social.sprite.svg#vk")
					li.footer__social
						a(href="tel:+79377956667").footer__link
							svg.footer__icon
								use(xlink:href="images/Social.sprite.svg#phone")
					li.footer__social
						a(href="mailto:melnikov38.alex@gmail.com").footer__link
							svg.footer__icon
								use(xlink:href="images/Social.sprite.svg#email")

		script(src="index.min.js")
